In [58]:
import numpy as np
import datetime as dt
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, distinct, and_

from flask import Flask, jsonify

In [2]:
#################################################
# Database Setup
#################################################
#rds_connection_string = "ETLprj:ScottSaid110!@localhost:5432/migration_db"
rds_connection_string = "immigration_cnn:@localhost:5432/migration_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

#'immigration_cnn

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
details = Base.classes.details
regional = Base.classes.regional
regions = Base.classes.regions
counties = Base.classes.counties
states = Base.classes.states

In [100]:
Base.classes.keys()

['details', 'regional', 'regions', 'counties', 'states']

In [101]:
pd.read_sql_query('select * from Regional', con=engine).head()

,id,birth_country,age_0_5,age_6_10,age_11_15,age_16_20,age_20_plus,grade_9th,grade_12th,hs_dropout,...,cleaning_and_maint,other_services,sales,administrative,farming_and_fishing,construction,manufacturing,transportation,military,unemployed
0,17,US,0,0,0,0,0,4380278,11086857,587488,...,4183259,8377235,17391363,19613568,916886,7269547,11784060,12504870,556905,1317281
1,18,Mexico,928523,775875,1485420,2238925,5753368,3557555,1818941,26761,...,787212,216708,494685,482108,473083,1316937,1001810,851937,6356,68478
2,19,Eastand Southeast Asia,1500243,946080,926337,941610,4334258,761904,471609,3533,...,146691,388236,525913,559092,15351,87448,465487,297208,10277,39188
3,20,Central Asia,38881,21083,20612,17039,34239,2938,2164,0,...,2776,5757,7961,7078,0,4097,5342,11118,83,509
4,21,South Asia,1148791,589390,446589,470990,1013222,162268,146226,2590,...,27050,62512,273505,157368,3970,18523,92958,149425,1178,24066

In [102]:
demography_json = [

    {demography:"Age",
    labels: ['Age_0-5', "Age_6-10", "Age_11-15", "Age_16-20", "Age_20+"]
    },
   
    {
        US:	[0.000, 0.000, 0.000, 0.000, 0.000],
Â Â Â Â Â Â Â Â Mexico:[0.083, 0.0694, 0.1328, 0.2002, 0.5145],
Â Â Â Â Â Â Â Â Eastand_Southeast_Asia: [0.1735, 0.1094, 0.1071, 0.1089, 0.5012],
Â Â Â Â Â Â Â Â Central_Asia: [0.2949, 0.1599, 0.1563, 0.1292, 0.2597],
Â Â Â Â Â Â Â Â South_Asia: [0.3131, 0.1606, 0.1217, 0.1284, 0.2762],
Â Â Â Â Â Â Â Â Oceania: [0.248, 0.1147, 0.1338, 0.1386, 0.3648 ],
Â Â Â Â Â Â Â Â Europe: [0.1356, 0.074, 0.0855, 0.1308, 0.5741],
Â Â Â Â Â Â Â Â Canada_and_Other_North_America: [0.1833, 0.0816, 0.0761, 0.1053, 0.5537],
Â Â Â Â Â Â Â Â Caribbean: [0.1722, 0.1292, 0.1053, 0.1073, 0.486],
Â Â Â Â Â Â Â Â Central_America: [0.1832, 0.1023, 0.1558, 0.1496, 0.4092],
Â Â Â Â Â Â Â Â South_America: [0.2139, 0.0886, 0.111, 0.1896, 0.3969],
Â Â Â Â Â Â Â Â Middle_EastNorth_Africa: [0.2426, 0.1547, 0.103, 0.1149, 0.3847],
Â Â Â Â Â Â Â Â SubSaharan_Africa: [0.2695, 0.1866, 0.1626, 0.1492, 0.2321],


    }
]

SyntaxError: invalid character in identifier (<ipython-input-102-4a440c685a88>, line 9)

In [103]:
demography = 'age'

def migration_data(demography):

    session = Session(engine)

    stmt = session.query(regional).statement
    df = pd.read_sql_query(stmt, session.bind)

    session.close

    meta_dict = {'demography':demography}

    if demography == 'age':
    
        demography_df = df.iloc[:,1:7].T
        meta_dict['labels'] =  labels[0:5]
    
    elif demography == 'education':
        demography_df = df.iloc[:,np.r_[1, 7:16]].T
        meta_dict['labels'] =  labels[5:14]
        
    elif demography == 'median_income':
        demography_df = df.iloc[:,np.r_[1, 16:18]].T
        meta_dict['labels'] =  labels[14:16]

    elif demography == 'income':
        demography_df = df.iloc[:,np.r_[1, 18:23]].T
        meta_dict['labels'] =  labels[16:21]
        
    elif demography == 'occupation':
        demography_df = df.iloc[:,np.r_[1, 23:39]].T
        meta_dict['labels'] =  labels[21:]
    else:
        return jsonify('data not found')     
    

traces = {demography_df[i].to_list()[0] : demography_df[i].to_list()[1:] for i in demography_df}

myJSON = [meta_dict, traces]
myJSON

[{'demography': 'age',
  'labels': ['Age 0-5',
   'Age 6-10',
   'Age 11-15',
   'Age 16-20',
   'Age 20+',
   '9th Grade']},
 {'US': [0, 0, 0, 0, 0],
  'Mexico': [928523, 775875, 1485420, 2238925, 5753368],
  'Eastand Southeast Asia': [1500243, 946080, 926337, 941610, 4334258],
  'Central Asia': [38881, 21083, 20612, 17039, 34239],
  'South Asia': [1148791, 589390, 446589, 470990, 1013222],
  'Oceania': [61091, 28265, 32969, 34158, 89888],
  'Europe': [657376, 358714, 414540, 634284, 2783356],
  'Canada and Other North America': [151646, 67457, 62946, 87060, 457984],
  'Caribbean': [768542, 576927, 470081, 479039, 2169302],
  'Central America': [657604, 367185, 559321, 537020, 1469200],
  'South America': [706779, 292896, 366750, 626399, 1311556],
  'Middle East North Africa': [432957, 276164, 183893, 205151, 686733],
  'Sub Saharan Africa': [547733, 379302, 330441, 303174, 471820]}]

In [104]:
# @app.route("/api/v1.0/immigrants_by_county/<countries>/<years>/")

countries = 'Iran&Germany'
years = '2012&2014'

country_list = countries.split('&')

if ":" in years:
    
    year_range = years.split(':')
    year_range = [int(year) for year in year_range]
    year_list = list(range(year_range[0],year_range[1]))
    
elif years == 'all':
    
    a=1
    
else:
    
    year_list = years.split('&')
    year_list = [int(year) for year in year_list]


population_count = func.sum(details.admissions).label('Count')

if countries == 'all':
    
    country_filter = details.birth_country.isnot(None)
else:
    country_filter = details.birth_country.in_(country_list)

if years == 'all':
    
    year_filter = details.year.isnot(None)
    
else:
    
    year_filter = details.year.in_(year_list)


session = Session(engine)

Dataset = session.query(details.residence_county, counties.latitude, counties.longitude, population_count)\
.filter(country_filter)\
.filter(year_filter)\
.group_by(details.residence_county, counties.latitude, counties.longitude)\
.filter(details.residence_county == counties.county)\
.all()

# df = pd.read_sql_query(stmt, session.bind)


session.close

output_json = {
    
    'subject': ', '.join(country_list),
    'labels':['Count'],
    'locations': [[*row] for row in Dataset]
}

output_json

{'subject': 'Iran, Germany',
 'labels': ['Count'],
 'locations': [['Frederick', 39.470427, -77.397627, 10],
  ['Lee', 40.647588, -91.477157, 589],
  ['Jackson', 42.411782, -122.675797, 92],
  ['Washington', 35.844589, -76.572334, 739],
  ['Milwaukee', 43.017655, -87.481575, 202],
  ['Marion', 38.648396, -88.920221, 124],
  ['Somerset', 38.07445, -75.853323, 93],
  ['Kings', 36.072478, -119.81553, 1396],
  ['Clark', 34.053312, -93.176205, 1763],
  ['Johnson', 38.883907, -94.82233, 278],
  ['Clark', 37.970133, -84.144974, 1763],
  ['Montgomery', 37.189537, -95.742403, 3993],
  ['Nassau', 30.605926, -81.764929, 878],
  ['Lancaster', 40.041992, -76.250198, 130],
  ['Camden', 39.802352, -74.961251, 31],
  ['Clayton', 33.552242, -84.412977, 9],
  ['Bergen', 40.95909, -74.074522, 686],
  ['Summit', 40.87206, -110.968486, 74],
  ['Fairfield', 34.395669, -81.127001, 388],
  ['Allen', 36.75077, -86.192458, 13],
  ['Jefferson', 36.048479, -83.440966, 434],
  ['Johnson', 32.689831, -82.661354, 278],
  ['Franklin', 39.969447, -83.008258, 535],
  ['Adams', 40.520632, -98.500044, 47],
  ['Osceola', 43.378542, -95.633788, 33],
  ['Delaware', 36.393369, -94.808206, 133],
  ['Lee', 41.747442, -89.299351, 589],
  ['New Castle', 39.575915, -75.644132, 78],
  ['Polk', 37.616761, -93.400817, 76],
  ['Polk', 41.187925, -97.570663, 76],
  ['Franklin', 29.810176, -84.799174, 535],
  ['Polk', 35.109437, -84.541112, 76],
  ['Jackson', 28.959802, -96.58908, 92],
  ['Allen', 37.884229, -95.300945, 13],
  ['Wayne', 42.210746, -97.126243, 388],
  ['Union', 34.690514, -81.615831, 95],
  ['Wake', 35.789846, -78.650624, 693],
  ['Chester', 35.416639, -88.605505, 255],
  ['Kern', 35.346629, -118.729506, 125],
  ['Clark', 45.771674, -122.485903, 1763],
  ['Washington', 36.70438, -95.906155, 739],
  ['Washington', 45.037929, -92.890117, 739],
  ['DeKalb', 41.894613, -88.768991, 491],
  ['Adams', 47.00484, -118.533308, 47],
  ['Union', 32.829349, -92.37565, 95],
  ['Fayette', 38.030933, -81.086051, 115],
  ['Fulton', 41.597264, -84.124267, 1984],
  ['Harris', 29.857273, -95.393037, 5539],
  ['Franklin', 31.477798, -90.895884, 535],
  ['Spokane', 47.620379, -117.404392, 30],
  ['Brevard', 28.298276, -80.700384, 148],
  ['Utah', 40.120409, -111.668667, 73],
  ['Travis', 30.239513, -97.69127, 1081],
  ['Marion', 32.359538, -84.529561, 124],
  ['Palm Beach', 26.645763, -80.448673, 665],
  ['Brazoria', 29.167818, -95.434647, 50],
  ['Marion', 34.138219, -87.881551, 124],
  ['Dakota', 42.390456, -96.562549, 47],
  ['Chatham', 31.974756, -81.091768, 45],
  ['Mercer', 47.303279, -101.820765, 210],
  ['Franklin', 44.973012, -70.444727, 535],
  ['Kent', 39.097088, -75.502982, 55],
  ['DeKalb', 35.98222, -85.833596, 491],
  ['Cumberland', 43.808348, -70.330375, 7],
  ['Maui', 20.855931, -156.60155, 46],
  ['Hampden', 42.136198, -72.635648, 32],
  ['Jefferson', 29.854, -94.149331, 434],
  ['Tompkins', 42.453281, -76.473712, 21],
  ['Montgomery', 36.500354, -87.380887, 3993],
  ['Douglas', 38.896573, -95.290529, 18],
  ['Morris', 38.687696, -96.644905, 250],
  ['Marion', 39.807538, -91.635379, 124],
  ['Lake', 47.642901, -114.083687, 207],
  ['Jefferson', 38.30078, -88.92421, 434],
  ['Dallas', 32.766987, -96.778424, 1786],
  ['Marion', 31.230126, -89.821736, 124],
  ['Marion', 44.900898, -122.57626, 124],
  ['Maricopa', 33.346541, -112.495534, 2754],
  ['Cameron', 41.438289, -78.198315, 7],
  ['Pima', 32.128237, -111.783018, 464],
  ['Jefferson', 40.175736, -97.143103, 434],
  ['Albany', 42.588271, -73.974014, 84],
  ['Lehigh', 40.614241, -75.590627, 41],
  ['Howard', 43.365313, -92.321908, 482],
  ['Burlington', 39.875786, -74.663006, 62],
  ['Douglas', 33.699317, -84.765944, 18],
  ['Jackson', 42.248474, -84.420868, 92],
  ['Davidson', 36.169129, -86.78479, 613],
  ['Clark', 40.407275, -91.729472, 1763],
  ['Clark', 44.286251, -112.36112, 1763],
  ['Wayne', 35.242687, -87.819703, 388],
  ['Pierce', 48.238883, -99.966497, 244],
  ['Douglas', 46.463316, -91.89258, 18],
  ['Osceola', 28.059027, -81.139312, 33],
  ['Douglas', 39.766078, -88.222866, 18],
  ['Howard', 41.219403, -98.513303, 482],
  ['Monroe', 25.601043, -81.206777, 98],
  ['Lee', 34.288965, -88.680887, 589],
  ['Summit', 39.621023, -106.137555, 74],
  ['Morris', 40.858581, -74.547427, 250],
  ['Camden', 38.031995, -92.765138, 31],
  ['Wayne', 43.458758, -77.063164, 388],
  ['Franklin', 38.408313, -91.07341, 535],
  ['Cobb', 33.93994, -84.574166, 961],
  ['Union', 36.488085, -103.475723, 95],
  ['Jackson', 35.286463, -83.130641, 92],
  ['Washington', 43.391156, -88.232917, 739],
  ['Washington', 44.274953, -72.609475, 739],
  ['Alachua', 29.67574, -82.357221, 10],
  ['Jackson', 34.593949, -99.41221, 92],
  ['Essex', 44.724021, -71.732736, 347],
  ['Jackson', 43.673025, -95.149704, 92],
  ['Camden', 30.916358, -81.636516, 31],
  ['Polk', 27.953115, -81.692783, 76],
  ['Washtenaw', 42.252327, -83.844634, 439],
  ['Atlantic', 39.469354, -74.633758, 4],
  ['Norfolk', 42.169703, -71.179875, 448],
  ['Marion', 39.505839, -80.243402, 124],
  ['Jefferson', 39.239644, -95.375314, 434],
  ['Johnson', 35.573359, -93.466322, 278],
  ['Hudson', 40.731384, -74.078627, 415],
  ['Collin', 33.193885, -96.578153, 2518],
  ['Jefferson', 40.399188, -80.76141, 434],
  ['Jackson', 39.007233, -94.342507, 92],
  ['Douglas', 36.946517, -92.515892, 18],
  ['Fayette', 39.639655, -85.185032, 115],
  ['Polk', 47.774254, -96.400027, 76],
  ['Polk', 30.784553, -94.837338, 76],
  ['Pinellas', 27.903122, -82.739518, 419],
  ['Washington', 33.273131, -90.94443, 739],
  ['Honolulu', 21.461364, -158.201976, 323],
  ['Washington', 39.965413, -103.209605, 739],
  ['Tulare', 36.230453, -118.780542, 10],
  ['Ramsey', 48.265551, -98.737329, 78],
  ['Kent', 43.032497, -85.547446, 55],
  ['Williamson', 35.894972, -86.896958, 288],
  ['Polk', 33.995961, -85.186826, 76],
  ['Middlesex', 42.479477, -71.396507, 2479],
  ['Bernalillo', 35.054002, -106.669065, 257],
  ['Fayette', 39.553845, -83.459327, 115],
  ['Bristol', 41.748576, -71.087062, 41],
  ['Multnomah', 45.547693, -122.417173, 395],
  ['Orange', 36.062499, -79.119355, 13554],
  ['Franklin', 39.409762, -85.066964, 535],
  ['Mercer', 41.300014, -80.252786, 210],
  ['Fayette', 35.196993, -89.413803, 115],
  ['Jefferson', 43.796965, -112.318588, 434],
  ['Orange', 30.120918, -93.893358, 13554],
  ['Douglas', 39.326435, -104.926199, 18],
  ['Fulton', 33.790034, -84.468182, 1984],
  ['Lee', 36.702162, -83.130334, 589],
  ['Shelby', 33.262937, -86.678104, 127],
  ['Durham', 36.036589, -78.877919, 91],
  ['Seminole', 28.690079, -81.13198, 321],
  ['Lake', 47.517111, -91.411704, 207],
  ['Lee', 30.321105, -96.976365, 589],
  ['Monroe', 34.679513, -91.203314, 98],
  ['Cameron', 29.871989, -93.165437, 7],
  ['Jefferson', 38.257414, -90.543138, 434],
  ['Ramsey', 45.01525, -93.100141, 78],
  ['Potter', 41.748222, -77.894735, 147],
  ['Ingham', 42.603534, -84.373811, 96],
  ['Johnson', 39.495986, -86.0946, 278],
  ['Montgomery', 39.137382, -77.203063, 3993],
  ['Jefferson', 34.277696, -91.930701, 434],
  ['Hamilton', 39.196927, -84.544187, 221],
  ['Douglas', 41.297091, -96.154066, 18],
  ['Hillsborough', 42.911643, -71.723101, 621],
  ['Jackson', 43.677294, -101.626455, 92],
  ['Worcester', 42.311693, -71.940282, 234],
  ['Franklin', 42.736549, -93.271425, 535],
  ['Bexar', 29.448671, -98.520147, 1482],
  ['Shelby', 39.797531, -92.088719, 127],
  ['Jackson', 39.013477, -82.614142, 92],
  ['Fresno', 36.761006, -119.655019, 433],
  ['Montgomery', 40.209999, -75.370201, 3993],
  ['Jefferson', 41.130287, -78.999044, 434],
  ['Washington', 30.602217, -85.662797, 739],
  ['Adams', 39.874325, -104.331872, 47],
  ['Franklin', 46.53458, -118.906944, 535],
  ['Sarasota', 27.184386, -82.365835, 245],
  ['Jackson', 35.596605, -91.223178, 92],
  ['Fulton', 40.465688, -90.206793, 1984],
  ['Lee', 26.552134, -81.89225, 589],
  ['Jackson', 37.40332, -84.020686, 92],
  ['Washington', 30.852144, -90.046253, 739],
  ['Clark', 37.233831, -99.813869, 1763],
  ['Polk', 41.684281, -93.56972, 76],
  ['Arapahoe', 39.644632, -104.331733, 303],
  ['Hamilton', 35.159186, -85.202296, 221],
  ['DeKalb', 33.770661, -84.226343, 491],
  ['Webb', 27.770584, -99.326641, 4],
  ['Washington', 39.776714, -97.095611, 739],
  ['Franklin', 32.138279, -91.672101, 535],
  ['Volusia', 29.057617, -81.161813, 64],
  ['Howard', 39.252264, -76.924406, 482],
  ['Wayne', 41.646589, -75.292485, 388],
  ['Washoe', 40.703311, -119.710315, 101],
  ['Mecklenburg', 36.687256, -78.368959, 646],
  ['Kane', 37.275118, -111.815413, 82],
  ['Jackson', 32.30448, -92.556672, 92],
  ['Monroe', 41.916097, -83.487106, 98],
  ['Yolo', 38.679268, -121.903178, 195],
  ['Macomb', 42.671467, -82.910869, 94],
  ['Suffolk', 40.943554, -72.692218, 1132],
  ['Wayne', 39.863091, -85.006735, 388],
  ['Adams', 39.986053, -91.194961, 47],
  ['Fulton', 36.55262, -89.187723, 1984],
  ['Shelby', 31.790137, -94.142565, 127],
  ['Jefferson', 38.783604, -85.44009, 434],
  ['Broward', 26.19352, -80.476658, 1076],
  ['Santa Barbara', 34.537378, -120.038485, 192],
  ['Monmouth', 40.287056, -74.152446, 77],
  ['Placer', 39.062032, -120.722718, 117],
  ['Montgomery', 33.500714, -89.639625, 3993],
  ['Franklin', 38.558019, -95.278962, 535],
  ['Suffolk', 42.33196, -71.020173, 1132],
  ['Albany', 41.665514, -105.721883, 84],
  ['Anne Arundel', 38.993374, -76.560511, 125],
  ['Oklahoma', 35.554611, -97.409401, 435],
  ['Wayne', 38.431948, -88.432129, 388],
  ['Monroe', 36.714077, -85.713508, 98],
  ['Lee', 37.605383, -83.718497, 589],
  ['Allen', 40.771528, -84.106546, 13],
  ['Hamilton', 43.657879, -74.502456, 221],
  ['Montgomery', 39.755218, -84.290546, 3993],
  ['Greenville', 34.892645, -82.372077, 204],
  ['Clark', 44.733596, -90.610201, 1763],
  ['Montgomery', 38.038138, -83.912338, 3993],
  ['Polk', 44.904395, -123.397329, 76],
  ['Tulsa', 36.120121, -95.941731, 192],
  ['Jefferson', 38.189533, -85.657624, 434],
  ['Lee', 31.818419, -84.146681, 589],
  ['Dakota', 44.670893, -93.062481, 47],
  ['King', 33.614159, -100.250548, 4234],
  ['Kent', 39.239177, -76.1242, 55],
  ['Erie', 42.117952, -80.096386, 274],
  ['Alameda', 37.648081, -121.913304, 2343],
  ['Marion', 37.552247, -85.269242, 124],
  ['Washington', 40.200005, -80.252132, 739],
  ['Jackson', 34.134157, -83.565133, 92],
  ['Johnson', 40.395457, -96.268562, 278],
  ['Shelby', 39.524135, -85.792174, 127],
  ['Adams', 43.973763, -89.767223, 47],
  ['Johnson', 32.379511, -97.364823, 278],
  ['Franklin', 38.234919, -84.868786, 535],
  ['Rockland', 41.154785, -74.024772, 40],
  ['Franklin', 37.991848, -88.926246, 535],
  ['Jefferson', 43.013807, -88.773986, 434],
  ['Franklin', 35.508573, -93.887672, 535],
  ['Orange', 44.003392, -72.369687, 13554],
  ['Lake', 41.472239, -87.374337, 207],
  ['Sacramento', 38.450011, -121.340441, 1954],
  ['Montgomery', 37.174885, -80.387314, 3993],
  ['Washington', 35.971209, -94.218417, 739],
  ['Lake', 43.995187, -85.8114, 207],
  ['Franklin', 33.175846, -95.219066, 535],
  ['Lee', 32.604064, -85.353048, 589],
  ['Washington', 39.450684, -81.490653, 739],
  ['Lee', 35.476075, -79.17222, 589],
  ['Jefferson', 46.126557, -112.056771, 434],
  ['Union', 34.489101, -89.0023, 95],
  ['Baltimore', 39.443167, -76.616569, 558],
  ['Wayne', 31.547845, -81.912376, 388],
  ['Duval', 30.335245, -81.648113, 398],
  ['Montgomery', 42.900891, -74.435358, 3993],
  ['Franklin', 34.375155, -83.227291, 535],
  ['Montgomery', 38.935162, -91.465437, 3993],
  ['Hidalgo', 26.396384, -98.18099, 13],
  ['Fort Bend', 29.526602, -95.771015, 626],
  ['Shelby', 39.384926, -88.798862, 127],
  ['Chester', 39.973965, -75.749732, 255],
  ['Chatham', 35.704994, -79.251454, 45],
  ['Montgomery', 39.228092, -89.478007, 3993],
  ['Erie', 41.554006, -82.525897, 274],
  ['Delaware', 39.91667, -75.398786, 133],
  ['San Joaquin', 37.935034, -121.272237, 108],
  ['Chester', 34.689345, -81.161249, 255],
  ['Miami-Dade', 25.610494, -80.499045, 1667],
  ['Shelby', 41.679014, -95.308917, 127],
  ['Fulton', 41.050384, -86.265006, 1984],
  ['Union', 30.05428, -82.366918, 95],
  ['Anoka', 45.27411, -93.242723, 10],
  ['Shelby', 38.239426, -85.22836, 127],
  ['Union', 34.83377, -83.989573, 95],
  ['Delaware', 40.227165, -85.398856, 133],
  ['Franklin', 36.99235, -79.883959, 535],
  ['Lake', 39.094802, -122.746757, 207],
  ['Potter', 35.398675, -101.893804, 147],
  ['Fayette', 33.732249, -87.752049, 115],
  ['Allen', 30.652744, -92.819605, 13],
  ['Fayette', 33.412717, -84.493941, 115],
  ['DuPage', 41.852058, -88.086038, 795],
  ['Clark', 44.855211, -97.724912, 1763],
  ['Douglas', 45.936429, -95.46061, 18],
  ['Dauphin', 40.412565, -76.792634, 8],
  ['Jackson', 36.354242, -85.674182, 92],
  ['Adams', 41.021656, -94.696906, 47],
  ['Mercer', 40.535333, -84.632059, 210],
  ['Jefferson', 47.802641, -123.52181, 434],
  ['Davidson', 35.795123, -80.206525, 613],
  ['Weld', 40.555794, -104.383649, 4],
  ['Marion', 39.782976, -86.135794, 124],
  ['Clark', 38.476217, -85.711122, 1763],
  ['Union', 40.295901, -83.367042, 95],
  ['Sonoma', 38.532574, -122.945194, 191],
  ['Arlington', 38.878337, -77.100703, 298],
  ['Lake', 42.788401, -120.38979, 207],
  ['Denton', 33.205005, -97.119046, 599],
  ['Washington', 36.295665, -82.495037, 739],
  ['Hidalgo', 31.899658, -108.745729, 13],
  ['Washington', 44.967009, -67.609354, 739],
  ['Shelby', 40.33668, -84.204143, 127],
  ['Montgomery', 30.302364, -95.503523, 3993],
  ['San Mateo', 37.414664, -122.371542, 1722],
  ['Collier', 26.118713, -81.400884, 204],
  ['Fayette', 29.877886, -96.921231, 115],
  ['Union', 45.304047, -117.999136, 95],
  ['Johnson', 44.044048, -106.588541, 278],
  ['Jackson', 39.410989, -95.794509, 92],
  ['Franklin', 42.583791, -72.591655, 535],
  ['Wayne', 38.145531, -82.419698, 388],
  ['King', 47.493554, -121.832375, 4234],
  ['Lancaster', 37.703831, -76.413199, 130],
  ['Washington', 38.600613, -86.104751, 739],
  ['Orange', 41.40241, -74.306252, 13554],
  ['Contra Costa', 37.919479, -121.951543, 2389],
  ['Williamson', 37.730353, -88.930018, 288],
  ['Sedgwick', 40.871568, -102.355358, 49],
  ['Wayne', 40.829661, -81.887194, 388],
  ['Monroe', 31.580332, -87.383266, 98],
  ['Cumberland', 36.784227, -85.393499, 7],
  ['Berks', 40.413957, -75.92686, 4],
  ['Johnson', 37.460815, -88.882962, 278],
  ['Washington', 41.533979, -96.224574, 739],
  ['Union', 33.168219, -92.598145, 95],
  ['Hillsborough', 27.90659, -82.349568, 621],
  ['Jefferson', 31.733633, -91.043878, 434],
  ['Fairfield', 39.752935, -82.628276, 388],
  ['Monroe', 33.89003, -88.485038, 98],
  ['Mercer', 40.421414, -93.567631, 210],
  ['Galveston', 29.228706, -94.894865, 43],
  ['Mercer', 37.403448, -81.106456, 210],
  ['Monterey', 36.240107, -121.315573, 106],
  ['Howard', 40.483537, -86.114118, 482],
  ['Osceola', 43.997552, -85.322283, 33],
  ['Monroe', 39.49827, -92.006458, 98],
  ['Marion', 38.359647, -97.102771, 124],
  ['Boulder', 40.094826, -105.398382, 94],
  ['Wayne', 38.261229, -110.990323, 388],
  ['East Baton Rouge', 30.544002, -91.093174, 5],
  ['Jefferson', 39.307399, -77.86322, 434],
  ['Cook', 31.152935, -83.429552, 3176],
  ['Marion', 40.588208, -83.172927, 124],
  ['Somerset', 45.507482, -69.97604, 93],
  ['Ada', 43.447861, -116.244456, 112],
  ['Franklin', 40.183203, -98.96208, 535],
  ['Richmond', 35.001957, -79.747809, 38],
  ['Jefferson', 30.424558, -83.890859, 434],
  ['Clark', 36.214236, -115.013819, 1763],
  ['Essex', 42.642711, -70.865107, 347],
  ['Worcester', 38.222133, -75.309932, 234],
  ['Washington', 38.353141, -89.417187, 739],
  ['Jefferson', 33.553444, -86.896536, 434],
  ['Washington', 32.971848, -82.798112, 739],
  ['Philadelphia', 40.009376, -75.133346, 457],
  ['Washington', 43.312377, -73.439428, 739],
  ['Lancaster', 40.783547, -96.688658, 130],
  ['Morris', 33.116466, -94.731265, 250],
  ['El Paso', 31.766403, -106.241391, 611],
  ['Fayette', 38.040157, -84.458443, 115],
  ['Monroe', 43.464475, -77.664656, 98],
  ['Essex', 37.93948, -76.941871, 347],
  ['Santa Cruz', 37.012488, -122.007205, 88],
  ['Oakland', 42.660452, -83.38421, 1365],
  ['Fulton', 39.910751, -78.122617, 1984],
  ['Essex', 40.787217, -74.246136, 347],
  ['Jefferson', 34.105092, -97.838814, 434],
  ['Delaware', 42.473003, -91.359443, 133],
  ['Marion', 34.080701, -79.362131, 124],
  ['El Paso', 38.827383, -104.527472, 611],
  ['Prince William', 38.702332, -77.478887, 315],
  ['Cameron', 26.102923, -97.478958, 7],
  ['Cook', 41.894294, -87.645455, 3176],
  ['Hennepin', 45.006064, -93.475185, 545],
  ['Will', 41.448474, -87.978456, 89],
  ['Somerset', 39.981297, -79.028486, 93],
  ['Summit', 41.121851, -81.534936, 74],
  ['Adams', 38.841681, -83.474173, 47],
  ['Montgomery', 35.338071, -79.904196, 3993],
  ['Pierce', 42.271413, -97.610992, 244],
  ['Washington', 36.747813, -81.950291, 739],
  ['Hamilton', 31.706982, -98.111794, 221],
  ['Marion', 41.331455, -93.093849, 124],
  ['Jefferson', 44.64379, -121.183021, 434],
  ['Washington', 45.553542, -123.097615, 739],
  ['Riverside', 33.729828, -116.002239, 1002],
  ['Dutchess', 41.755009, -73.739951, 12],
  ['Howard', 32.303583, -101.43853, 482],
  ['Hamilton', 40.04987, -86.020586, 221],
  ['Adams', 39.869471, -77.21773, 47],
  ['San Bernardino', 34.85722, -116.181197, 765],
  ['Jefferson', 39.58646, -105.245601, 434],
  ['San Francisco', 37.727239, -123.032229, 1790],
  ['DeKalb', 39.894665, -94.40719, 491],
  ['Fayette', 39.914115, -79.644586, 115],
  ['Wayne', 31.64476, -88.682057, 388],
  ['Cumberland', 39.328387, -75.121644, 7],
  ['Cumberland', 39.273121, -88.240619, 7],
  ['Franklin', 39.926686, -77.724485, 535],
  ['Shelby', 35.183794, -89.895397, 127],
  ['Hamilton', 30.491102, -82.951049, 221],
  ['Allegheny', 40.46892, -79.98092, 455],
  ['Fayette', 42.86445, -91.839373, 115],
  ['Pierce', 31.353988, -82.210427, 244],
  ['Mercer', 40.282503, -74.703724, 210],
  ['Fairfax', 38.833743, -77.276117, 3882],
  ['Gwinnett', 33.959101, -84.022938, 622],
  ['Passaic', 41.033763, -74.300308, 46],
  ['Dallas', 33.967823, -92.653999, 1786],
  ['Lancaster', 34.686818, -80.703689, 130],
  ['Somerset', 40.565522, -74.61993, 93],
  ['Douglas', 43.391506, -98.358433, 18],
  ['Guilford', 36.079065, -79.788665, 138],
  ['Pierce', 47.040716, -122.144709, 244],
  ['Adams', 44.884583, -116.431873, 47],
  ['Tarrant', 32.77204, -97.291291, 773],
  ['Marion', 36.266656, -92.678588, 124],
  ['Howard', 34.083179, -93.990988, 482],
  ['Franklin', 42.173589, -111.822955, 535],
  ['Washington', 31.406974, -88.202078, 739],
  ['Johnson', 36.453204, -81.861237, 278],
  ['Jefferson', 29.5033, -90.036231, 434],
  ['Monroe', 39.725969, -81.090658, 98],
  ['Montgomery', 32.203651, -86.203831, 3993],
  ['Adams', 40.745733, -84.936131, 47],
  ['Allen', 41.091855, -85.07223, 13],
  ['Wayne', 37.113825, -90.460868, 388],
  ['Orange', 33.675687, -117.777207, 13554],
  ['Fulton', 36.383443, -91.819239, 1984],
  ['Montgomery', 40.040296, -86.892715, 3993],
  ['Washington', 44.448213, -116.79783, 739],
  ['Union', 37.475104, -89.252875, 95],
  ['Lake', 36.333905, -89.485537, 207],
  ['Williamson', 30.64903, -97.605069, 288],
  ['Jackson', 44.324895, -90.806541, 92],
  ['Potter', 45.064276, -99.949631, 147],
  ['Clayton', 42.840998, -91.323511, 9],
  ['Essex', 44.108971, -73.777573, 347],
  ['Adams', 46.096815, -102.533198, 47],
  ['Snohomish', 48.054913, -121.766412, 629],
  ['Montgomery', 34.545652, -93.664147, 3993],
  ['Nassau', 40.729687, -73.589384, 878],
  ['Monroe', 43.945175, -90.619969, 98],
  ['Jefferson', 41.00688, -91.967137, 434],
  ['Monroe', 41.056233, -75.329037, 98],
  ['Seminole', 35.158366, -96.602858, 321],
  ['Dallas', 41.685321, -94.040707, 1786],
  ['Richmond', 37.942894, -76.730561, 38],
  ['Cumberland', 40.164782, -77.26344, 7],
  ['Kane', 41.939594, -88.42804, 82],
  ['Wayne', 36.802011, -84.83044, 388],
  ['Orange', 38.547381, -86.489257, 13554],
  ['Douglas', 38.905129, -119.609019, 18],
  ['Washington', 41.329401, -91.725052, 739],

In [53]:
immigrants_by_country={
    'subject':'Iran'
    'labels':['count']
    'locations': [
        ['Orange', #name
        [25000],   #Values 
        ['long', 'lat'] #coordinates
        ]
    ]
}

SyntaxError: invalid syntax (<ipython-input-53-07038953b04c>, line 3)

In [73]:
years = "2012:2017"
year_range = years.split(':')
year_range = [int(year) for year in year_range]
year_list = list(range(year_range[0],year_range[1]))
year_list

[2012, 2013, 2014, 2015, 2016]

In [88]:
', '.join(country_list)

'Iran, Germany'

In [106]:
# @app.route("/api/v1.0/immigrants_by_state/<countries>/<years>/")

countries = 'Iran'
years = 'all'

country_list = countries.split('&')

if ":" in years:
    
    year_range = years.split(':')
    year_range = [int(year) for year in year_range]
    year_list = list(range(year_range[0],year_range[1]))
    
elif years == 'all':
    
    a=1
    
else:
    
    year_list = years.split('&')
    year_list = [int(year) for year in year_list]


population_count = func.sum(details.admissions).label('Count')

if countries == 'all':
    
    country_filter = details.birth_country.isnot(None)
else:
    country_filter = details.birth_country.in_(country_list)

if years == 'all':
    
    year_filter = details.year.isnot(None)
    
else:
    
    year_filter = details.year.in_(year_list)


session = Session(engine)

Dataset = session.query(details.residence, states.latitude, states.longitude, population_count)\
.filter(country_filter)\
.filter(year_filter)\
.group_by(details.residence, states.latitude, states.longitude)\
.filter(details.residence == states.name)\
.all()

session.close

output_json = {
    
    'subject': ', '.join(country_list),
    'labels':['Count'],
    'locations': [[*row] for row in Dataset]
}

output_json

{'subject': 'Iran',
 'labels': ['Count'],
 'locations': [['Oregon', 43.804133, -120.554201, 811],
  ['Idaho', 44.068202, -114.742041, 76],
  ['California', 36.778261, -119.417932, 78253],
  ['Arizona', 34.048928, -111.093731, 2357],
  ['Georgia', 32.157435, -82.907123, 3125],
  ['Washington', 47.751074, -120.740139, 3747],
  ['New York', 43.299428, -74.217933, 3484],
  ['Michigan', 44.314844, -85.602364, 963],
  ['District of Columbia', 38.905985, -77.033418, 315],
  ['Tennessee', 35.517491, -86.580447, 634],
  ['Alaska', 63.588753, -154.493062, 6],
  ['Massachusetts', 42.407211, -71.382437, 2248],
  ['Hawaii', 19.898682, -155.665857, 19],
  ['Nevada', 38.80261, -116.419389, 1408],
  ['Minnesota', 46.729553, -94.6859, 400],
  ['Missouri', 37.964253, -91.831833, 312],
  ['Virginia', 37.431573, -78.656894, 5316],
  ['Maryland', 39.045755, -76.641271, 4394],
  ['Indiana', 40.551217, -85.602364, 63],
  ['Pennsylvania', 41.203322, -77.194525, 762],
  ['Texas', 31.968599, -99.901813, 12719],
  ['New Jersey', 40.058324, -74.405661, 1020],
  ['Louisiana', 31.244823, -92.145024, 49],
  ['Delaware', 38.910832, -75.52767, 26],
  ['Wisconsin', 43.78444, -88.787868, 167],
  ['Kentucky', 37.839333, -84.270018, 301],
  ['Connecticut', 41.603221, -73.087749, 395],
  ['Utah', 39.32098, -111.093731, 845],
  ['Illinois', 40.633125, -89.398528, 2779],
  ['Colorado', 39.550051, -105.782067, 591],
  ['Florida', 27.664827, -81.515754, 2717],
  ['Kansas', 39.011902, -98.484246, 277],
  ['New Hampshire', 43.193852, -71.572395, 30],
  ['Oklahoma', 35.007752, -97.092877, 543],
  ['Nebraska', 41.492537, -99.901813, 131],
  ['New Mexico', 34.97273, -105.032363, 189],
  ['Ohio', 40.417287, -82.907123, 790],
  ['North Carolina', 35.759573, -79.0193, 934],
  ['Rhode Island', 41.580095, -71.477429, 25]]}

In [25]:
region = "Europe"

def ObtainCountries(region):

    session = Session(engine)

    Dataset = session.query(regions.country)\
    .filter(regions.region == region).all()
    
    session.close
    
    return [row.country for row in Dataset]

def Generate_lists(countries, years):

    if ":" in years:
    
        year_range = years.split(':')
        year_range = [int(year) for year in year_range]
        year_list = list(range(year_range[0],year_range[1]))
    
    elif years == 'all':
    
        a=1
    
    else:
    
        year_list = years.split('&')
        year_list = [int(year) for year in year_list]


    if countries == 'all':
    
        country_filter = details.birth_country.isnot(None)
        country_list = ['all']

    elif 'region' in countries:

        region = countries.split(":")[1]
        country_list = ObtainCountries(region)
        country_filter = details.birth_country.in_(country_list)



    else:
        country_list = countries.split('&')
        country_filter = details.birth_country.in_(country_list)

    if years == 'all':
    
        year_filter = details.year.isnot(None)
    
    else:
    
        year_filter = details.year.in_(year_list)

    return [country_filter, year_filter, country_list]

ObtainCountries("middle east")

[]

In [57]:


countries = 'Iran'
years = 'all'

country_filter, year_filter, country_list =  Generate_lists(countries, years)

population_count = func.sum(details.admissions).label('Count')

session = Session(engine)

# , counties.latitude, counties.longitude

Dataset = session.query(details.residence, details.residence_county, counties.latitude, counties.longitude, population_count)\
.filter(country_filter)\
.filter(year_filter)\
.join(counties, and_(details.residence_county == counties.county, details.residence == counties.state))\
.group_by(details.residence, details.residence_county, counties.latitude, counties.longitude)\
.order_by(details.residence_county)\
.all()

# .join(counties)\
# .filter(details.residence_county == counties.county)\
# .filter(details.residence == counties.state)\

session.close

myJson =   {

    'subject': ', '.join(country_list),
    'labels':['Count'],
    'locations': [[*row] for row in Dataset]
}

myJson

{'subject': 'Iran',
 'labels': ['Count'],
 'locations': [['Idaho', 'Ada', 43.447861, -116.244456, 76],
  ['Colorado', 'Adams', 39.874325, -104.331872, 30],
  ['Florida', 'Alachua', 29.67574, -82.357221, 6],
  ['California', 'Alameda', 37.648081, -121.913304, 1624],
  ['New York', 'Albany', 42.588271, -73.974014, 61],
  ['Pennsylvania', 'Allegheny', 40.46892, -79.98092, 202],
  ['Alaska', 'Anchorage', 61.177549, -149.274354, 6],
  ['Maryland', 'Anne Arundel', 38.993374, -76.560511, 36],
  ['Minnesota', 'Anoka', 45.27411, -93.242723, 4],
  ['Colorado', 'Arapahoe', 39.644632, -104.331733, 234],
  ['Virginia', 'Arlington', 38.878337, -77.100703, 199],
  ['New Jersey', 'Atlantic', 39.469354, -74.633758, 4],
  ['Maryland', 'Baltimore', 39.443167, -76.616569, 502],
  ['New Jersey', 'Bergen', 40.95909, -74.074522, 454],
  ['Pennsylvania', 'Berks', 40.413957, -75.92686, 4],
  ['New Mexico', 'Bernalillo', 35.054002, -106.669065, 189],
  ['Texas', 'Bexar', 29.448671, -98.520147, 1227],
  ['Colorado', 'Boulder', 40.094826, -105.398382, 16],
  ['Texas', 'Brazoria', 29.167818, -95.434647, 42],
  ['Florida', 'Brevard', 28.298276, -80.700384, 30],
  ['Massachusetts', 'Bristol', 41.748576, -71.087062, 23],
  ['Florida', 'Broward', 26.19352, -80.476658, 503],
  ['Pennsylvania', 'Bucks', 40.336887, -75.10706, 23],
  ['New Jersey', 'Burlington', 39.875786, -74.663006, 8],
  ['Texas', 'Cameron', 26.102923, -97.478958, 7],
  ['Georgia', 'Chatham', 31.974756, -81.091768, 25],
  ['Pennsylvania', 'Chester', 39.973965, -75.749732, 50],
  ['Nevada', 'Clark', 36.214236, -115.013819, 1339],
  ['Washington', 'Clark', 45.771674, -122.485903, 47],
  ['Georgia', 'Clayton', 33.552242, -84.412977, 4],
  ['Georgia', 'Cobb', 33.93994, -84.574166, 803],
  ['Florida', 'Collier', 26.118713, -81.400884, 19],
  ['Texas', 'Collin', 33.193885, -96.578153, 2391],
  ['California', 'Contra Costa', 37.919479, -121.951543, 2087],
  ['Illinois', 'Cook', 41.894294, -87.645455, 2037],
  ['Ohio', 'Cuyahoga', 41.760392, -81.724217, 283],
  ['Minnesota', 'Dakota', 44.670893, -93.062481, 26],
  ['Texas', 'Dallas', 32.766987, -96.778424, 1458],
  ['Wisconsin', 'Dane', 43.067468, -89.417852, 69],
  ['Pennsylvania', 'Dauphin', 40.412565, -76.792634, 4],
  ['Tennessee', 'Davidson', 36.169129, -86.78479, 539],
  ['Georgia', 'DeKalb', 33.770661, -84.226343, 342],
  ['Pennsylvania', 'Delaware', 39.91667, -75.398786, 52],
  ['Texas', 'Denton', 33.205005, -97.119046, 500],
  ['Colorado', 'Denver', 39.761849, -104.880625, 201],
  ['Nebraska', 'Douglas', 41.297091, -96.154066, 14],
  ['Illinois', 'DuPage', 41.852058, -88.086038, 598],
  ['North Carolina', 'Durham', 36.036589, -78.877919, 40],
  ['Florida', 'Duval', 30.335245, -81.648113, 265],
  ['Louisiana', 'East Baton Rouge', 30.544002, -91.093174, 5],
  ['Colorado', 'El Paso', 38.827383, -104.527472, 23],
  ['Texas', 'El Paso', 31.766403, -106.241391, 29],
  ['New York', 'Erie', 42.752759, -78.778192, 199],
  ['Massachusetts', 'Essex', 42.642711, -70.865107, 52],
  ['New Jersey', 'Essex', 40.787217, -74.246136, 115],
  ['Virginia', 'Fairfax', 38.833743, -77.276117, 3490],
  ['Kentucky', 'Fayette', 38.040157, -84.458443, 97],
  ['Texas', 'Fort Bend', 29.526602, -95.771015, 542],
  ['Ohio', 'Franklin', 39.969447, -83.008258, 349],
  ['Maryland', 'Frederick', 39.470427, -77.397627, 5],
  ['California', 'Fresno', 36.761006, -119.655019, 388],
  ['Georgia', 'Fulton', 33.790034, -84.468182, 1508],
  ['Texas', 'Galveston', 29.228706, -94.894865, 33],
  ['North Carolina', 'Guilford', 36.079065, -79.788665, 95],
  ['Georgia', 'Gwinnett', 33.959101, -84.022938, 443],
  ['Indiana', 'Hamilton', 40.04987, -86.020586, 10],
  ['Ohio', 'Hamilton', 39.196927, -84.544187, 88],
  ['Massachusetts', 'Hampden', 42.136198, -72.635648, 22],
  ['Texas', 'Harris', 29.857273, -95.393037, 4718],
  ['Minnesota', 'Hennepin', 45.006064, -93.475185, 336],
  ['Virginia', 'Henrico', 37.437521, -77.300333, 109],
  ['Texas', 'Hidalgo', 26.396384, -98.18099, 8],
  ['Florida', 'Hillsborough', 27.90659, -82.349568, 274],
  ['New Hampshire', 'Hillsborough', 42.911643, -71.723101, 30],
  ['Hawaii', 'Honolulu', 21.461364, -158.201976, 19],
  ['Maryland', 'Howard', 39.252264, -76.924406, 460],
  ['New Jersey', 'Hudson', 40.731384, -74.078627, 101],
  ['Michigan', 'Ingham', 42.603534, -84.373811, 73],
  ['Missouri', 'Jackson', 39.007233, -94.342507, 55],
  ['Colorado', 'Jefferson', 39.58646, -105.245601, 83],
  ['Kentucky', 'Jefferson', 38.189533, -85.657624, 204],
  ['Louisiana', 'Jefferson', 29.5033, -90.036231, 44],
  ['Kansas', 'Johnson', 38.883907, -94.82233, 241],
  ['Illinois', 'Kane', 41.939594, -88.42804, 41],
  ['Michigan', 'Kent', 43.032497, -85.547446, 12],
  ['California', 'Kern', 35.346629, -118.729506, 93],
  ['Washington', 'King', 47.493554, -121.832375, 3075],
  ['Illinois', 'Lake', 42.326444, -87.436118, 69],
  ['Nebraska', 'Lancaster', 40.783547, -96.688658, 117],
  ['Pennsylvania', 'Lancaster', 40.041992, -76.250198, 4],
  ['Florida', 'Lee', 26.552134, -81.89225, 4],
  ['Pennsylvania', 'Lehigh', 40.614241, -75.590627, 8],
  ['California', 'Los Angeles', 34.196398, -118.261862, 40694],
  ['Virginia', 'Loudoun', 39.08113, -77.638857, 1124],
  ['Michigan', 'Macomb', 42.671467, -82.910869, 17],
  ['Florida', 'Manatee', 27.481386, -82.365784, 16],
  ['Arizona', 'Maricopa', 33.346541, -112.495534, 2069],
  ['California', 'Marin', 38.051817, -122.745974, 401],
  ['Indiana', 'Marion', 39.782976, -86.135794, 53],
  ['North Carolina', 'Mecklenburg', 35.246862, -80.833832, 333],
  ['New Jersey', 'Mercer', 40.282503, -74.703724, 34],
  ['Florida', 'Miami-Dade', 25.610494, -80.499045, 575],
  ['Massachusetts', 'Middlesex', 42.479477, -71.396507, 1388],
  ['New Jersey', 'Middlesex', 40.439593, -74.407585, 97],
  ['Wisconsin', 'Milwaukee', 43.017655, -87.481575, 98],
  ['New Jersey', 'Monmouth', 40.287056, -74.152446, 19],
  ['New York', 'Monroe', 43.464475, -77.664656, 19],
  ['California', 'Monterey', 36.240107, -121.315573, 77],
  ['Maryland', 'Montgomery', 39.137382, -77.203063, 3090],
  ['Ohio', 'Montgomery', 39.755218, -84.290546, 8],
  ['Pennsylvania', 'Montgomery', 40.209999, -75.370201, 191],
  ['Texas', 'Montgomery', 30.302364, -95.503523, 44],
  ['New Jersey', 'Morris', 40.858581, -74.547427, 78],
  ['Oregon', 'Multnomah', 45.547693, -122.417173, 222],
  ['New York', 'Nassau', 40.729687, -73.589384, 749],
  ['Delaware', 'New Castle', 39.575915, -75.644132, 26],
  ['Massachusetts', 'Norfolk', 42.169703, -71.179875, 285],
  ['Michigan', 'Oakland', 42.660452, -83.38421, 402],
  ['Oklahoma', 'Oklahoma', 35.554611, -97.409401, 390],
  ['New York', 'Onondaga', 43.00653, -76.196117, 46],
  ['California', 'Orange', 33.675687, -117.777207, 11972],
  ['Florida', 'Orange', 28.514435, -81.323295, 370],
  ['New York', 'Orange', 41.40241, -74.306252, 12],
  ['Florida', 'Palm Beach', 26.645763, -80.448673, 280],
  ['Florida', 'Pasco', 28.302024, -82.455707, 8],
  ['New Jersey', 'Passaic', 41.033763, -74.300308, 17],
  ['Pennsylvania', 'Philadelphia', 40.009376, -75.133346, 224],
  ['Washington', 'Pierce', 47.040716, -122.144709, 46],
  ['Arizona', 'Pima', 32.128237, -111.783018, 288],
  ['Florida', 'Pinellas', 27.903122, -82.739518, 96],
  ['California', 'Placer', 39.062032, -120.722718, 109],
  ['Massachusetts', 'Plymouth', 41.987196, -70.741942, 4],
  ['Florida', 'Polk', 27.953115, -81.692783, 12],
  ['Texas', 'Potter', 35.398675, -101.893804, 147],
  ['Virginia', 'Prince William', 38.702332, -77.478887, 221],
  ['Minnesota', 'Ramsey', 45.01525, -93.100141, 34],
  ['California', 'Riverside', 33.729828, -116.002239, 766],
  ['New York', 'Rockland', 41.154785, -74.024772, 16],
  ['California', 'Sacramento', 38.450011, -121.340441, 1800],
  ['Utah', 'Salt Lake', 40.667882, -111.924244, 841],
  ['California', 'San Bernardino', 34.85722, -116.181197, 556],
  ['California', 'San Diego', 33.023604, -116.776117, 5009],
  ['California', 'San Francisco', 37.727239, -123.032229, 719],
  ['California', 'San Joaquin', 37.935034, -121.272237, 64],
  ['California', 'San Mateo', 37.414664, -122.371542, 1169],
  ['California', 'Santa Barbara', 34.537378, -120.038485, 94],
  ['California', 'Santa Clara', 37.220777, -121.690622, 7575],
  ['California', 'Santa Cruz', 37.012488, -122.007205, 36],
  ['Florida', 'Sarasota', 27.184386, -82.365835, 5],
  ['Kansas', 'Sedgwick', 37.683807, -97.459451, 36],
  ['Florida', 'Seminole', 28.690079, -81.13198, 246],
  ['Tennessee', 'Shelby', 35.183794, -89.895397, 80],
  ['Washington', 'Snohomish', 48.054913, -121.766412, 549],
  ['California', 'Solano', 38.267226, -121.939594, 81],
  ['New Jersey', 'Somerset', 40.565522, -74.61993, 57],
  ['California', 'Sonoma', 38.532574, -122.945194, 115],
  ['Washington', 'Spokane', 47.620379, -117.404392, 30],
  ['California', 'Stanislaus', 37.562384, -121.002656, 1852],
  ['Massachusetts', 'Suffolk', 42.33196, -71.020173, 311],
  ['New York', 'Suffolk', 40.943554, -72.692218, 227],
  ['Ohio', 'Summit', 41.121851, -81.534936, 62],
  ['Texas', 'Tarrant', 32.77204, -97.291291, 570],
  ['New York', 'Tompkins', 42.453281, -76.473712, 11],
  ['Texas', 'Travis', 30.239513, -97.69127, 795],
  ['California', 'Tulare', 36.230453, -118.780542, 6],
  ['Oklahoma', 'Tulsa', 36.120121, -95.941731, 153],
  ['New Jersey', 'Union', 40.659871, -74.308696, 36],
  ['Utah', 'Utah', 40.120409, -111.668667, 4],
  ['California', 'Ventura', 34.358742, -119.133143, 810],
  ['Florida', 'Volusia', 29.057617, -81.161813, 4],
  ['North Carolina', 'Wake', 35.789846, -78.650624, 466],
  ['Oregon', 'Washington', 45.553542, -123.097615, 589],
  ['Nevada', 'Washoe', 40.703311, -119.710315, 69],
  ['Michigan', 'Washtenaw', 42.252327, -83.844634, 276],
  ['Michigan', 'Wayne', 42.284664, -83.261953, 183],
  ['Texas', 'Webb', 27.770584, -99.326641, 4],
  ['Colorado', 'Weld', 40.555794, -104.383649, 4],
  ['New York', 'Westchester', 41.15277, -73.745912, 183],
  ['Illinois', 'Will', 41.448474, -87.978456, 34],
  ['Tennessee', 'Williamson', 35.894972, -86.896958, 15],
  ['Texas', 'Williamson', 30.64903, -97.605069, 204],
  ['Massachusetts', 'Worcester', 42.311693, -71.940282, 163],
  ['California', 'Yolo', 38.679268, -121.903178, 156]]}

In [51]:
abv_df = pd.read_csv("CSV/states_abv.csv")
counties_df = pd.read_csv("CSV/county coords.csv")

abv_df.head()

   State_Name State
0     Alabama    AL
1      Alaska    AK
2     Arizona    AZ
3    Arkansas    AR
4  California    CA

In [50]:
counties_df.head()

  State   County   Latitude  Longitude
0    AL  Autauga  32.536382 -86.644490
1    AL  Baldwin  30.659218 -87.746067
2    AL  Barbour  31.870670 -85.405456
3    AL     Bibb  33.015893 -87.127148
4    AL   Blount  33.977448 -86.567246

In [52]:
new_counties_df = pd.merge(counties_df,abv_df,on = "State")

In [53]:
new_counties_df.head()

  State   County   Latitude  Longitude State_Name
0    AL  Autauga  32.536382 -86.644490    Alabama
1    AL  Baldwin  30.659218 -87.746067    Alabama
2    AL  Barbour  31.870670 -85.405456    Alabama
3    AL     Bibb  33.015893 -87.127148    Alabama
4    AL   Blount  33.977448 -86.567246    Alabama

In [54]:
new_counties_df.to_csv("CSV/counties.csv")

In [76]:
# @app.route("/api/v1.0/countries")

session = Session(engine)

country = distinct(details.birth_country)
Dataset = session.query(country).all()

session.close

myJson = [row[0] for row in Dataset]

myJson.sort()

myJson

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 "China, People's Republic",
 'Colombia',
 'Congo, Democratic Republic',
 'Congo, Republic',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Czechoslovakia (former)',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Lithuania',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles (former)',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia (formerly Macedonia)',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro (former)',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Soviet Union (former)',
 'Spain',
 'Sri Lanka',
 'Stateless',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Unknown',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [82]:
session = Session(engine)

country = distinct(regions.region)
Dataset = session.query(country).all()

session.close

myJson = [row[0] for row in Dataset]

myJson.sort()

myJson

['Canada and Other North America',
 'Caribbean',
 'Central America',
 'Central Asia',
 'East and Southeast Asia',
 'Europe',
 'Mexico',
 'Middle East-North Africa',
 'Oceania',
 'South America',
 'Sub-Saharan Africa',
 'Unknown']

In [86]:
# @app.route("/api/v1.0/diversity_by_state/<locations>/<years>/<top>")
# def immigrants_by_state(locations, years, top):
locations = "California"
years = "all"
top = "all"



country_filter, year_filter, country_list =  Generate_lists(locations, years)

population_count = func.sum(details.admissions).label('Count')

if top == 'all':
    top = 9000000

session = Session(engine)

Dataset = session.query(details.birth_country, population_count)\
.filter(country_filter)\
.filter(year_filter)\
.group_by(details.birth_country)\
.order_by(population_count.desc())\
.limit(int(top))\
.all()

session.close

json = {

'subject': ', '.join(country_list),
'labels':['Count'],
'locations': [[*row] for row in Dataset]
}

json

#return jsonify(json)

{'subject': 'California', 'labels': ['Count'], 'locations': []}